<%- include('../partials/header') %>

<h1>Skill Details</h1>

<div class="skill-show-title"><%= skill.name %>:
    <ul>
        <% playerProfiles.forEach(profile => { %>
            <li class="skill-index">
                <%= profile.gamertag %> 
                <% const playerSkill = profile.skills.find(playerSkill => playerSkill.type.equals(skill._id)) %>
                <br>
                <small>
                    <label>Level: </label><%= playerSkill.level %></small>   
            </li>
        <% }); %>
    </ul>
</div>

<%- include('../partials/footer') %>






