<%- include('../partials/header') %>

<h1>Skill Details</h1>

<div><%= skill.name %>:
    <ul>
        <% playerProfiles.forEach(profile => { %>
            <li>
                <%= profile.gamertag %> 
                <% const playerSkill = profile.skills.find(playerSkill => playerSkill.type.equals(skill._id)) %>
                <small><label>Level: </label><%= playerSkill.level %></small>   
            </li>
        <% }); %>
    </ul>
</div>

<%- include('../partials/footer') %>






