<%- include('../partials/header') %>

<h1>Skill Details</h1>

<div><%= playerProfiles.skill.name %>:
    <ul>
        <% playerProfiles.forEach(profile => { %>
            <li>
                <%= profile.gamertag %> 
                <% profile.skills.forEach(skill => { %>
                    <small><%= skill.level %></small>   
                <% }); %>
            </li>
        <% }); %>
    </ul>
</div>

<%- include('../partials/footer') %>






