<%- include('../partials/header') %>

<h1>Skill Details</h1>

<div class="skill-show-title"><%= skill.name %>:
    <ul>
        <% playerProfiles.forEach(profile => { %>
            <li class="skill-index">
                <%= profile.gamertag %> 
                <% const playerSkill = profile.skills.find(playerSkill => playerSkill.type.equals(skill._id)) %>
                <br>
                <small>
                    <label>Level: </label><%= playerSkill.level %></small>   
            </li>
        <% }); %>
       
            <form class="sort-form" action='/skills/<%= skill._id %>' method="GET">
                <label>Sort By: 
                    <select name="sort">
                        <option value="level">Ascending Level</option>
                        <option value="-level">Descending Level</option>
                        <option value="gamertag">Alphabetical Gamertag</option>
                    </select>
                </label>
                <button type="submit">Sort</button>
            </form>
    </ul>
    <div>
        <canvas id="myChart"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
        const labels = JSON.parse(`<%- JSON.stringify(chartData.labels) %>`);
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
       
</div>

<%- include('../partials/footer') %>


