<%- include('../partials/header') %>
    <h2><%= playerProfile.gamertag %></h2>
    <h4> Age: <%= playerProfile.age %></h4>
    
    <div class="skills-header">Skills:
        <ul>
            <% playerProfile.skills.forEach(skill => { %>
                <li>
                    <%= skill.type.name %> <small><%= skill.level %></small>
                    <form action="/player-profiles/<%= skill._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </div>
    <form class="skill-form" action="/player-profiles/<%= playerProfile._id %>/skills" method="POST">
        <label>Skill: 
            <select name="type">
                <%- skills.map(skill =>
                `<option value="${skill._id}">${skill.name}</option>`
                ).join('') %>
            </select>
        </label>
        <label>Level:
            <select name="level">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </label>
        <button type="submit">Add a Skill</button>
    </form>
    
<%- include('../partials/footer') %>







<!-- <form action="/player-profiles/<%= playerProfile._id %>/skills" method="POST">
    <select name="skillId">
        <% skills.forEach(skill => { %>
            <option value="<%= skill._id %>"><%= skill.name %></option>
        <% }); %>
    </select>
    <button type="submit">Add a Skill</button>
</form> --> 
